*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Space Mono', monospace;
}
.container{
    padding: 20px;
}
.container .row{
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .row img{
    width: 90%;
}
.container .row .right{
    padding-top: 30px;
}
.container .row .right h1{
    font-size: 48px;
    font-weight: 700;
}
.container .row .right p{
    font-size: 18px;
    font-weight: 400;
}
.container .row .right button{
    width: 185px;
    height: 40px;
    color: white;
    background-color: black;
}
